[submodule "VisualMetronome"]
	path = VisualMetronome
	url = https://gist.github.com/0f976991913fb6f86ea3f954eb30d1a5.git
[submodule "8095ec605cf7cecc44bfafc4e63fcb3c"]
	path = CompletionDays
	url = https://gist.github.com/8095ec605cf7cecc44bfafc4e63fcb3c.git
[submodule "wordCounter"]
	path = WordCounter
	url = https://gist.github.com/0c13ab59342cd26c9acbe65d2ef7c3dc.git
[submodule "42f9602b80e34cd58cd0ef4aecc92ae8"]
	path = CopyFile
	url = https://gist.github.com/42f9602b80e34cd58cd0ef4aecc92ae8.git
[submodule "ChatBot"]
	path = ChatBot
	url = https://gist.github.com/434154d113dd107df2e7615bd2322a81.git
[submodule "DiceRoller"]
	path = DiceRoller
	url = https://gist.github.com/78cde16fef6f9fa4777841dbbd462191.git
[submodule "ConsoleTimer"]
	path = ConsoleTimer
	url = https://gist.github.com/c281e92a2d7e2ba736e6382f02adfe30.git
[submodule "MusicPlayer"]
	path = MusicPlayer
	url = https://gist.github.com/568d4cbaba64de14c8e1b91e38466065.git
[submodule "VisualMetronome2"]
	path = VisualMetronome2
	url = https://gist.github.com/49a70e7518040c727fa65f9a5e9da623.git
[submodule "CashRegister"]
	path = CashRegister
	url = https://gist.github.com/cc084c22164fbf29e9a73875f7c2b582.git
[submodule "FlooringCalc"]
	path = FlooringCalc
	url = https://gist.github.com/94e0f27935bab7b56b82ab2b81a91da4.git
[submodule "Calculator"]
	path = Calculator
	url = https://gist.github.com/6e494dbcf58683a4e779c360eb34e1a2.git
[submodule "AlarmClock"]
	path = AlarmClock
	url = https://gist.github.com/7e529997ea560b742c6412d6258279bb.git
[submodule "CaesarCipher"]
	path = CaesarCipher
	url = https://gist.github.com/72949c9183f31dfec87dfc415aba2cbb.git
[submodule "AreaCalc"]
	path = AreaCalc
	url = https://gist.github.com/e0a7459df28cc6565081cc2a437af3fb.git
[submodule "FibonacciExample"]
	path = FibonacciExample
	url = https://gist.github.com/7312d165dfae7d1086be75087933a071.git
[submodule "BudgetTracker"]
	path = BudgetTracker
	url = https://gist.github.com/eee2facbff04675e40699595b4f67308.git
[submodule "WeightConverter"]
	path = WeightConverter
	url = https://gist.github.com/e95e717ea8fc4c2d2aafec3705e46738.git
[submodule "RuleOf72"]
	path = RuleOf72
	url = https://gist.github.com/d2009d357b8df78664c124fb7de59e83.git
[submodule "TicTacToe"]
	path = TicTacToe
	url = https://gist.github.com/49046727c7755cd3ab73ce5bed767bfa.git
[submodule "RockPaperScissors"]
	path = RockPaperScissors
	url = https://gist.github.com/366523baf11ebb8eab82df403d0c116d.git
[submodule "Nim"]
	path = Nim
	url = https://gist.github.com/bde61324750eb359c04aa913aa2b29fb.git
[submodule "Clock"]
	path = Clock
	url = https://gist.github.com/a30bcb78216046066f1fd20190e961d0.git
[submodule "GrayScale"]
	path = GrayScale
	url = https://gist.github.com/b1f940a667a710bec7283d2a4f8c186d.git
